*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    background-image: linear-gradient(45deg, #ffadff 0, #ffa0fe 16.67%, #ff8df7 33.33%, #e775ed 50%, #c25fe3 66.67%, #9f52de 83.33%, #7c4ddc 100%);
}

h1{
    padding-top: 50px;
    color: rgb(0, 0, 0);
}
.container{
        width: 40%;
        height: 600px;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 50px;
        background-color: rgb(255, 255, 255);
        text-align: center; 
        border-radius: 15px;
        justify-content: center;
    
}